
body{
    display: flex;
    height: 100vh;
    background-color: #E8E8E8;
    color: #0A2647;
    margin: 0;
}

.page{
    flex: 1;
    display:flex;
    flex-direction: column;

}

.header{
    flex: 2;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color:#0A2647;
    font-size: 40px;
    font-weight: bold;


}

.body{  
    flex: 6;
    display: flex;



}
.displayholder{
    flex:4;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 40px;
}
.controls{
    flex:1.5;
    display: flex;
    flex-direction: column;
    align-items: last baseline;
    justify-content: center;
    gap: 15px;
    padding-right: 45px;

}

.controls button{
    padding:5px;
    border-radius: 5px;
    width: 100px;
    font-size: 20px;
    border:5px solid #0A2647
}


.display{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    border: 15px solid #445069;
    border-radius: 5px;
}

.footer{

    flex:1;
}

.panels{
    box-sizing: border-box;
    width: 20px; 
    height: 20px; 
    background-color: white; 
}

.active{
    background-color: #0A2647;}

.inactive{
    background-color: white;
}

  
/*input[type='color'] {
    width: 80px;
    height: 80px;
    border: none;
    background-color: #E8E8E8;
}*/

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    font-size: 20px;
    color:#0A2647;
}
